/UserRepository.class
/CanchaFutbolRepository.class
/CanchaTenisRepository.class
/ClienteRepository.class
/HabitacionRepository.class
/ReservaFutbolRepository.class
/ReservaRepository.class
/ReservaTenisRepository.class
