/SingletonHabitacionesTest.class
/HacerCheckInTest.class
/HacerCheckOutTest.class
/HacerReservaTest.class
/ReservarHabitacionTest.class
/ReservarHabitacionTest$HabitacionControladorDummy.class
/ReservarHabitacionTest$ReservaControladorDummy.class
/ReservarHabitacionTest$SingletonHabitacionesConSpy.class
/CheckInOutTest.class
